<h1>You should be able to see cool creatures here</h1>

<ul>
  {{#each creatures}}
    <li>
      <h3>{{this.commonName}}</h3>
      <img src="{{this.image}}" alt="{{this.commonName}}" width="100" />
      <p>{{this.fictionalName}}
        -
        {{this.class}}
        -
        {{this.conservationStatus}}</p>
      <a href="/creature/detail/{{this._id}}">See details</a>
    </li>
  {{/each}}
</ul>