
<h1>Welcome to {{island.name}} island </h1>

<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Guardian:{{guardian.username}}</h5>
    <h5 class="card-title">Theme:{{island.theme}}</h5>
    <p class="card-text"></p>
  </div>
</div>

<div class="card my-3" style="width: 18rem;">
  <div class="card-body">
    Creatures:
      
    <ul>
  {{#each creatures as |creature|}}
  <li>{{creature.fictionalName}} </li>
  {{/each}}
    </ul>
  {{#if creatures}}
  <a href="/creature/creatures-explore/{{island.id}}" class="btn btn-secondary">Explore the creatures</a>
  {{else}}
  <a href="/creature/list" class="btn btn-secondary">Soon there will be some creatures</a>
  {{/if}}

  </div>
</div>

