<head>
  <link rel="stylesheet" href="/styles/my-island.css" />
</head>

<body
  style="background-image: url('/images/island.themes/{{island.theme}}.jpg');"
>
  <div class="container mt-4 ">
    <div
      class="card"
      style="width:fit-content; padding: 4px; background-color: rgba(0, 0, 0, 0.6); color:white;"
    >
      <h2>Welcome to {{island.name}}</h2>
    </div>

    <div
      class="card my-3"
      style="width: 18rem; background-color: rgba(0, 0, 0, 0.6); color:white;"
    >
      <div class="card-body">
        <h5 class="card-title">Guardian:{{currentUser.username}}</h5>
        <h5 class="card-title">Theme:{{island.theme}}</h5>
        <p class="card-text"></p>
      </div>
    </div>

    <div
      class="card my-3"
      style="width: 18rem; background-color: rgba(0, 0, 0, 0.6); color:white;"
    >
      <div class="card-body">
        Creatures:
        {{#if creatures}}
          <ul>
            {{#each creatures as |creature|}}
              <li>{{creature.commonName}} </li>
            {{/each}}
          </ul>
          <a href="/creature/edit-my" class="btn btn-secondary">Edit my
            creatures!</a>
        {{else}}
          <a href="/creature/list" class="btn btn-secondary">Add some creatures!</a>
        {{/if}}

      </div>
    </div>

    <a href="/my-island/{{currentUser.id}}/edit" class="btn btn-primary">Edit my
      island</a>

    {{#each creatures as |creature|}}
      <div class="creature-container">
        <img
          src="images/creatures/{{creature.commonName}}.jpg"
          alt="{{creature.name}}"
          class="creature-img"
        />
        <div class="creature-message">Hi, I’m {{creature.commonName}}!</div>
      </div>

    {{/each}}

  </div>
</body>